* {
    margin: 0;
    padding: 0;
    /* background-color: rgb(245, 248, 255); */
}

/* 
    font-family: "Noto Serif", serif;
    font-family: "Inter", sans-serif;
*/

/* Common Styles start here */
nav .menu,
nav .menu-card ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-section-left>p,
.our-plants-section>p,
.flower-plants-description>ul>li, 
footer > .logo-footer>p {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 3%;
}

body {
    background-color: rgb(245, 248, 255);
}

header,
main,
footer {
    width: 80%;
    margin: 0 auto;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu-card ul li {
    list-style: none;
}

nav .menu-card ul a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: rgb(137, 135, 161);
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    font-weight: 400;
}

.menu-btn>button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: rgb(137, 135, 161);
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    font-weight: 400;
}

#active-one {
    color: rgb(37, 36, 50);
    font-weight: 700;
}

#active-two {
    color: rgb(0, 0, 0);
}

/* Banner Section style here */

.banner-section {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 200px;
}

.banner-section-left>h2 {
    font-size: 65px;
    font-family: "Noto Serif", serif;
    font-weight: 700;
    line-height: 89px;
    margin-bottom: 30px;
}

.fresh-span {
    font-family: "Noto Serif", serif;
    color: rgb(233, 90, 8);
}

.banner-section-left {
    flex: 1;
}

.banner-section-right {
    flex: 1;
}

.banner-section-right img {
    width: 100%;
    height: 400px;
    display: block;
}

/* our-plants-section styles here */

.our-plants-section {
    text-align: center;
    margin-top: 120px;
}

.our-plants-section>h2 {
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.our-plants-section>p {
    width: 70%;
    margin: 0 auto;
}

.flower-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.flower-card {
    text-align: center;
    border: 1px dashed lightgray;
    margin-top: 50px;
}

.flower-card>img {
    width: 100%;
    height: 380px;
}

.flower-card>h2 {
    color: rgb(17, 17, 17);
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 25px;
}

.flower-card>p {
    color: rgb(17, 17, 17);
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 800;
    margin-top: 12px;
}

.add-to-cart-btn {
    margin-top: 25px;
    width: 100%;
    font-family: "Inter", sans-serif;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(233, 90, 8);
    border: none;
}

/* flower-plants-section style here */

.flower-plants-section {
    display: flex;
    gap: 80px;
    margin-top: 250px;
    margin-bottom: 50px;
    position: relative;
}

.flower-plants-image {
    flex: 1;
}

.flower-plants-image>img {
    width: 100%;
    height: 600px;
    display: block;
}

.flower-plants-description {
    flex: 1;
}

.flower-plants-description>h2 {
    color: rgb(0, 0, 0);
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 700;
    margin-top: 40px;
}

.flower-plants-description>ul>li {
    margin-left: 40px;
    padding: 15px;
    text-align: justify;
}

.badge {
    position: absolute;
    top: -140px;
    left: 45%;
    transform: translateX(-50%);
    z-index: 0;
}

.badge img {
    width: 290px;
    height: 290px;
    background: none;
}

/* latest deals section */

.image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image-row-one {
    border: 1px solid red;
    width: 100%;
    display: block;
    grid-column: span 1;
}

.image-row-two {
    border: 1px solid red;
    width: 100%;
}

.image-row-three {
    border: 1px solid red;
    width: 100%;
    grid-column: span 3;
}




/* join-bunch section start here */
.join-bunch-section {
    width: 100% !important;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.join-bunch-section>h2 {
    color: rgb(255, 255, 255);
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

input[type="email"] {
    /* padding: 12px 200px 12px 20px; */
    width: 645px;
    height: 50px;
    margin: 0 auto;
    padding-left: 20px;
}

input[type="button"] {
    /* padding: 12px 25px; */
    width: 185px;
    height: 51px;
    position: relative;
    border: 1px solid rgb(233, 90, 8);
    background-color: rgb(233, 90, 8);
    left: -5px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

input[type="email"] {
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fff;
}

/* footer section styles here */
footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo-footer {
    grid-column: span 2;
}

.logo-footer> p{
    width: 90%;
    margin-top: 30px;
    line-height: 38px !important;
}

.footer-menu-one>ul>li,
.footer-menu-two>ul>li{
    list-style: none;
    padding-bottom: 30px;
}

.footer-menu-one>ul>li>a,
.footer-menu-two>ul>li>a {
    
    color: rgb(107, 114, 128);
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}

.footer-menu-one {
    padding: 20px 80px 20px 20px;
}

.footer-menu-two {
    padding: 20px 20px 20px 80px;
}

.footer-image {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: start;
}

.footer-image img {
    padding: 35px;
    height: 40px;
    width: 40px;
}

.footer-menu-container {
    display: flex;
    grid-column: span 2;
    padding: 0 40px;
}




/* Responsive Design */

/* Small device */
@media screen and (max-width:576px) {

    .banner-section-left>p,
    .our-plants-section>p {
        width: 100%;
        text-align: justify;
    }


    .menu-card {
        /* visibility: hidden; */
        display: none;
    }

    .menu-btn>button {
        font-size: 22px;
    }

    .banner-section {
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .banner-section-left>h2 {
        margin-top: 20px;
        font-size: 45px;
        line-height: 55px;
    }

    .flower-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .flower-card>img {
        height: 200px;
    }

    .flower-card>h2 {
        font-size: 18px;
    }

    .flower-card>p {
        font-size: 18px;
    }

    .add-to-cart-btn {
        padding: 12px;
        font-size: 16px;
    }

    .badge {
        display: none;
    }

    .flower-plants-section {
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .flower-plants-description>h2 {
        font-size: 40px;
        text-align: center;
    }

    .flower-plants-description>ul>li {
        margin-left: 10px;
    }

}